In [86]:
import numpy as np;
import pandas as pd;
A = np.matrix("1 2; 3 4");
print(A);
# reader = open("D:/datasets/titanic-kaggle/train.csv", "r");
trainingDf= pd.read_csv("D:/datasets/titanic-kaggle/train.csv", index_col=0, parse_dates=True, nrows = 10);
# print(trainingDf);
trainingSet = np.loadtxt(open("D://datasets//titanic-kaggle//gender_submission.csv", "r"), delimiter=",", skiprows=1)
# print(trainingSet)
# trainingDf.pivot_table(values='PassengerId', index='PassengerId', columns='Sex', aggfunc=lambda x: len(x.unique()));
# print(pd.pivot_table(data=trainingDf, rows=["PassengerId"], cols=["Sex"], values=["PassengerId"], aggfunc='count'))
# addColumns = trainingDf.Sex.str.get_dummies();
# print(type(addColumns))
# trainingDf["Cabin"]=len(trainingDf["Cabin"])
listRowstoColumns=["Sex", "Embarked"];
listRowstoColumns=[Cabin];
trainingDf = changeCategorical(trainingDf, listRowstoColumns, listRowsToBoolean);

def changeCategorical(df, listRowstoColumns, listRowsToBoolean):
    return pd.concat(generateBooleanColumns(df, listRowsToBoolean) , generateValueColumns(df, listRowstoColumns));

def generateBooleanColumns(df, columns):
    for column in columns:
            df[column] = -1 * df[column].isnull() + 1
    return

def generateValueColumns(df, columns);
    finalDf = pd.DataFrame()
    for column in columns:
        pd.concat([finalDf,trainingDf],axis =1)
        
# trainingDf  = pd.concat([trainingDf.drop('Sex', axis=1), trainingDf['Sex'].str.get_dummies()])
print(trainingDf['Sex'].str.get_dummies())
# print(pd.concat([trainingSet, addColumns],axis=1))

def

SyntaxError: invalid syntax (<ipython-input-86-91cdd7fa34f7>, line 27)

In [89]:
trainingDf["new"] = -1 * trainingDf.Cabin.isnull() + 1
# trainingDf
print(pd.concat([pd.DataFrame(),trainingDf],axis =1))

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3
7                   0       1
8                   0       3
9                   1       3
10                  1       2

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN
7                                      McCarthy, Mr. Timothy J    male  54.0
8                               Palsson, Master. Gosta Leonard    male   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

             SibSp  Parch            Ticket     Fare Cabin Embarked  new
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S    0
2                1      0          PC 17599  71.2833   C85        C    1
3                0      0  STON/O2. 3101282   7.9250   NaN        S    0
4                1      0            113803  53.1000  C123        S    1
5                0      0            373450   8.0500   NaN        S    0
6                0      0            330877   8.4583   NaN        Q    0
7                0      0             17463  51.8625   E46        S    1
8                3      1            349909  21.0750   NaN        S    0
9                0      2            347742  11.1333   NaN        S    0
10               1      0            237736  30.0708   NaN        C    0